
  body {
    background-color: #1f242d;
    color:#fff
  }
  .gyphy-app-custom{
    color:#0ef;
  }

  .custom-gif-grid{
    color: #fff;
  }

  .custom-card{
    color: #fff;
    background-color: #323946;
    transition: transform 0.5s ease;
  }

  .custom-card:hover{
    transform: scale(1.02);
    border: 0.15rem solid #0ef;
  }

  .custom-card-img{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  .form-control:focus {
    border-color: #0ef;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 238, 255, 0.6);
  }